.studygroup-dashboard-side-bar {
  height: 100%;
  min-width: 200px;
  padding: 10px;
  text-align: left;
}

.studygroup-dashboard-side-bar li {
  cursor: pointer;
}

.studygroup-dashboard_main {
  height: 100%;
  flex-grow: 1;
  padding-top: 10px;
  flex-direction: row;
  margin-right: 10px;
  overflow-y: auto;
  /* overflow-x: hidden; */
}

.studygroup-dashboard_main .loading-text {
  color: #e3e3e3;
}
