.searchable-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.searchable-text-container input {
  width: 100%;
  border-radius: 7px;
  padding: 3px 10px;
  margin-top: 10px;
  border: 1px solid lightgrey;
}
.searchable-text-container ul {
  margin: 10px 0 0 0;
  padding-inline-start: 0;
  list-style: none;
  border: 0.5px solid lightgrey;
  border-radius: 7px;
  /* padding: 3px; */
  text-align: center;
  max-height: 150px;
  overflow-y: auto;
}

.searchable-text-container ul li {
  text-align: center;
}

.searchable-text-container li:hover {
  background-color: lightgrey;
  transition-duration: 0.5s;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 300px;
  border: 1px solid lightgrey;
  border-radius: 7px;
  padding: 5px;
}
