.studygroup-dashboard {
  display: flex;
  flex-direction: row;
  /* padding-top: 56px; */
  height: calc(100% - 56px);
}

.studygroup-dashboard .side-bar {
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 0; */
  height: 100%;
  min-width: 200px;
  padding: 10px;
  text-align: left;
}

.studygroup-dashboard .card {
  /* width: 300px; */
  margin-bottom: 10px;
}
.studygroup-dashboard .card .ratings {
  /* width: 300px; */
  padding: 10px;
}
.studygroup-dashboard .card .rating {
  text-align: left;
  margin-bottom: 10px;
}
.studygroup-dashboard .card .rate-control {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}

.studygroup-dashboard .settings-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.studygroup-dashboard .settings-page .main {
  flex-grow: 1;
}

.studygroup-dashboard .settings-page .button-container {
  width: 100%;
  text-align: right;
  padding-bottom: 10px;
}

.chatroom {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  overflow: hidden;
}

.chatroom .message-area {
  flex-grow: 1;
  padding: 10px;
  position: relative;
  overflow-y: auto;
}

.chatroom .message-area .message-not-you {
  text-align: left;
  padding: 10px 0;
}

.chatroom .message-area .message-you {
  text-align: right;
  padding: 10px 0;
}

.chatroom .message-area .text {
  padding: 10px;
  border-radius: 10px;
}
.chatroom .message-area .message-not-you .text {
  color: white;
  background-color: #6c757d;
}

.chatroom .message-area .message-you .text {
  background-color: #0d6efd;
  color: white;
}

.chatroom .message-box-container {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
}

.chatroom .message-box-container input {
  margin-right: 10px;
}
