.studygroup-dashboard {
  display: flex;
  flex-direction: row;
  /* padding-top: 56px; */
  height: calc(100% - 56px);
}

.studygroup-dashboard .side-bar {
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 0; */
  height: 100%;
  width: 300px;
  background-color: lightseagreen;
}

.studygroup-dashboard .main {
  height: 100%;
  flex-grow: 1;
}
