.signup-page {
  padding: 2rem;
}
.signup-page .login-card {
  width: 75%;
  margin: 0 auto;
  padding: 30px;
  text-align: left;
}

.signup-page .login-card .logo-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.signup-page .login-card .logo-container img {
  height: 70px;
}
