.App {
  /* margin-top: 56px; */
  margin-top: 66px;
  /* width: 100%; */
  /* text-align: left; */
  /* padding: 0 2rem; */
}

#root {
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
  height: 100vh;
}

.navbar .container {
  margin-left: 0;
}

.logo__wrapper {
  width: 100%;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
