.class-carousel {
  width: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.class-carousel .card {
  margin-top: 20px;
  margin-right: 20px;
}
